<div class="login">
  <div class="page-header">
    <div class="icon">
      <span class="ico-arrow-right"></span>
    </div>
    <h1>Sign In <small>ADMIN PANEL</small></h1>
  </div>
  <%= form_tag sessions_path, :autocomplete => "off" do %>
    <div class="row-fluid">
      <div class="row-form">
        <div class="span12">
          <%= text_field_tag :email, nil, :placeholder => "login" %>
        </div>
      </div>
      <div class="row-form">
        <div class="span12">
          <%= password_field_tag :password, nil, :placeholder => "password" %>
        </div>
      </div>
      <div class="row-form">
        <div class="span12">
          <button class="btn">Sign in <span class="icon-arrow-next icon-white"></span></button>
        </div>
      </div>
    </div>
  <% end %>
</div>