<% content_for :javascript do %>
  <script>
    var table = $("#tree");
    table.treetable({ expandable: true});
    table.treetable('expandAll');
  </script>
<% end %>
<table id="tree">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tabulars %>
  </tbody>
</table>