<% content_for :javascript do %>
  <script>
    var table = $("#tree");
    table.treetable();
  </script>
<% end %>

<h1>jQuery treeTable</h1>

<table id="tree">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date modified</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <%= render @nodes %>
  </tbody>
</table>
