<div id="<%= cfrm_id %>" style="width:280px;height:auto;">
  <h3>Confirmation</h3>
  <p><%= msg %></p>
  <div>
    <input type="submit" id="confirm_button" value="Yes"/>
    <span class="cancel-confirm">No</span>
    <div class="clear"></div>
  </div>
</div>