<div class="content">
  <div class="page-header">
    <div class="icon">
      <span class="ico-arrow-right"></span>
    </div>
    <h1>Dashboard <small>ADMINISTRASI SISTEM INFORMASI PEMBANGUNAN DAERAH</small></h1>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Selamat Datang <%= current_user.name %></h3>
    </div>
  </div>
</div>