<div class="master_tabular">
  <div class="content">
    <%= link_to master_tabular.name, admin_master_tabular_path(master_tabular) %>
  </div>
  <div class="actions">
    <%= link_to "Add", new_admin_master_tabular_path(:parent_id => master_tabular) %> |
    <%= link_to "Destroy", admin_master_tabular_path(master_tabular), :confirm => "Are you sure?", :method => :delete %>
  </div>
</div>